sudo: false
language: ruby
rvm:
  - 2.4
  - 2.3
  - 2.2
  - 2.1
env:
  matrix:
    - JEKYLL_VERSION=3.5
    - JEKYLL_VERSION=3.6
branches:
  only:
    - master
script: script/cibuild
cache: bundler
notifications:
  irc:
    on_success: change
    on_failure: change
    channels:
    - irc.freenode.org#jekyll
    template:
    - '%{repository}#%{build_number} %{message} %{build_url}'
  email:
    on_success: never
    on_failure: change
